.div{
    margin: auto;
    width: 400px;height: 600px;/*设置div的大小*/
    border: 1px solid green;/*边框*/
    text-align: center;/*文字水平居中对齐*/
    line-height: 40px;/*设置文字行距等于div的高度*/
    overflow: hidden;
}