<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>findpassword</title>
    <link rel="stylesheet" type="text/css" href="../static/findpassword.css">
    <link rel="shortcut icon" href="{% static "image/favicon.ico" %}">
</head>
<body>
    <form method="post">
        <div class="div">
            <h1 align="center">必须保证用户名和邮箱与创建时一致才能找回密码</h1>
            <label>用户名：</label><input type="text" name="username" placeholder="请输入你要找回密码的用户名"><br>
            <label>邮&nbsp;&nbsp;&nbsp;箱：</label><input type="text" name="email" placeholder="请输入你要找回密码用户的邮箱"><br>
            <input type="submit" href="find_password.html" value="找回密码"><br>
            {% if error %}
                <div style="color: red">{{ error }}</div>
            {% endif %}<br>
            {% if password %}
                <div style="color: red">您的密码为：{{ password }}，请您记住密码</div>
            {% endif %}<br>
            <a href="login.html" >返回登录</a>
        </div>
    </form>
</body>
</html>